header {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
}

header .logo {
  width: 150px;
  max-width: 100%;
}

header nav {
  font-weight: bold;
  display: flex;
  align-items: center;
}

header nav .link {
  margin-right: 1rem;
  text-decoration: none;
  color: #00bc77; /* Couleur verte */
}

header nav .link:hover {
  cursor: pointer;
  text-decoration: underline;
}

header nav .icon-header {
  margin-right: 5px;
  color: #00bc77;
}

/* Styles pour tablettes */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  header .logo {
    margin-bottom: 10px;
  }

  header nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  header nav .link {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
  }
}

/* Styles pour mobiles */
@media (max-width: 480px) {
  header {
    padding: 10px;
  }

  header .logo {
    width: 120px;
    margin-bottom: 10px;
  }

  header nav {
    flex-direction: column;
    align-items: center;
  }

  header nav .link {
    margin-right: 0;
    margin-bottom: 15px; /* Augmentation de l'espacement entre les liens */
    display: flex;
    align-items: center;
  }

  header nav .link .icon-header {
    margin-right: 5px;
  }

  /* Positionner l'icône d'engrenage à droite de "Captain" */
  header nav .link.user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Augmentation de l'espacement */
  }

  header nav .link.user-profile .icon-header {
    margin-left: 10px; /* Augmentation de l'espacement entre le texte et l'icône */
    margin-right: 0;
  }
}
