.account {
  width: 80%;
  max-width: 1200px;
  height: auto;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid black;
  margin-bottom: 2rem;
  padding: 1rem;
  color: white;
  background-color: grey;
  transition: all 0.3s ease;
}

.account .content-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  flex-grow: 1;
}

.account .content-account .title-account {
  font-size: 1rem;
}

.account .content-account .money {
  font-size: 2.5rem;
  font-weight: bold;
}

@media (min-width: 720px) {
  .account {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
  }
}

@media (max-width: 720px) {
  .account {
    width: 90%; /* Réduction de la largeur pour les tablettes */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .account .content-account .title-account {
    font-size: 0.9rem;
  }
  .account .content-account .money {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .account {
    width: 95%; /* Réduction de la largeur pour les mobiles */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
  }

  .account .content-account .title-account {
    font-size: 0.8rem;
  }
  .account .content-account .money {
    font-size: 1.8rem;
  }
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center; /* Centrer le chevron verticalement */
  margin-left: auto;
}

.icon-arrow {
  font-size: 2rem;
}
