.field-content {
  height: 60px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
}
.field-content label {
  font-weight: bold;
  justify-content: left;
}
.field-content input {
  width: 100%;
  height: 40px;
  border: solid 1px #cccccc;
}